body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../images/pwa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.greetings {
  height: 70vh;
  overflow: auto;
  background-color: rgba(255,255,255,0.8);
  padding: 1rem;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
